# Dependencies
node_modules/
.venv/
venv/
env/

# Environment Variables
.env
.env.local
*.env
serviceAccountKey.json
*.json
!package.json
!tsconfig.json
!tsconfig.*.json
!frontend/src/locales/**/*.json
!frontend/public/locales/**/*.json

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Build outputs
dist/
build/

# IDE / OS
.DS_Store
.vscode/
.idea/
